*Library*
*Temp
*DS_Store*
*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
*.suo
*ClientDataConverser/test/SrcCsv/data/bac*
*ClientDataConverser_newRule*
*.blend1
.metadata
.svn
.DS_Store
Thumbs.db
xs/
.vs/
.gradle/
obj/
token.json/
*Data/
*Logs/
